:root {
        color-scheme: light dark;
}

body {
        background-color: Canvas;
        color: CanvasText;
}

td, th {
        border: 1px solid;
        padding: 10px 20px;
        text-align: center;
}

input {
        touch-action: manipulation;
}

.strike {
        text-decoration: line-through;
}
