:root {
        color-scheme: light dark;
}

@media(prefers-color-scheme: light) {
        button {
                color: #000000;
        }
}

@media(prefers-color-scheme: dark) {
        button {
                color: #FFFFFF;
        }
}

body {
        background-color: Canvas;
        color: CanvasText;
}

table {
        width: 100%;
}

td, th {
        position: relative;
        border: 1px solid;
        padding: 10px 20px;
        text-align: center;
}

input {
        touch-action: manipulation;

}

input, select, textarea {
        font-size: 16px !important;
        color: currentColor;
}

.scratch td {
        position: relative;
}

.scratch td::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: currentColor;
}
